---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/


body {
	background-color: $background;
  color: $foreground;
  font-family: $dm-sans;
  font-weight: 300;
  line-height: 1.5;

  // respect user contrast preferences
  @media (prefers-contrast: less) {
    filter: contrast(.8);
  }
}

h1 {
  font-size: calc(.5vw + 5rem);
}

h2 {
  font-size: calc(1vw + 1.75rem);
}

h3 {
  font-size: calc(1vw + 1.5rem);
}

h4 {
  font-size: calc(1vw + 1.125rem);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $secondary;
}

p {
  margin: 1rem 0 1.5rem;
}

p, li, dt, dd {
  font-size: calc(.5vw + 1.1rem);
  line-height: 1.4;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
}



// outer container for header

.wrapper-masthead {
  background-color: $primary;
}

/* inner container with header/nav */

.masthead {
    display: flex;
    padding-block: .8em;
    justify-content: space-between;
    align-items: end;
    
    nav {
      display: inline-flex;

      a {
        color: $foreground-light;
        padding-inline: .5em;
        font-size: calc(.5vw + 1.25rem);
        font-weight: 500;
        text-decoration: none;

        &:visited {
          color: darken($foreground-light, 10%);
        }

        &:focus,
        &:hover {
          color: $white;
          outline: 2px solid currentColor;
        }

        [aria-current=page] {
          border-bottom: 3px solid currentColor;
        }
      }
    }
    
    ul {
      list-style: none;
      list-style-type: none;
      li {
        display: inline-block;
        padding: 0 5px;      
      }
    }
}

.site-info {
  flex-basis: auto;

  a { 
    display: flex;
    align-items: center;
    color: $foreground-light;
    text-decoration: none;
      
    span {
      display: inline-block;
      padding-inline-start: 1.2rem;
      font-family: $oswald;
      font-size: 3.1rem;
      line-height: 1;
    }
  }
}

#summary{
    display: flex;
    justify-content: center;
}
.summary {
    border: 3px dashed lighten($foreground, 80%);
    max-width: 70%;
    padding: 1em;
    font-size: calc(.5vw + 0.9rem);
}


// First section on Home

#intro {
  margin: 0 auto;
  padding: calc(.5vw + 4em) calc(.5vw + 8em);
  display: grid;
  gap: .5em;
  grid-template-columns: 2fr 1fr;
  background-color: $background-dark;
  color: $foreground-light;

  h1 {
    padding-block: .6em;
    font-family: $dm-serif-display;
    font-size: calc(0.5vw + 3.5rem);
    line-height: 1.2;
  }
  
  span {
    color: lighten($primary, 15%);
    font-weight: 800;
    letter-spacing: .05em;
  }

  p {
    font-size: calc(0.5vw + 1rem);
  }
  
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}

.callout {
  display: flex;
  justify-content: center;

  p {
    max-width: 45ch;
    padding: calc(.5vw + 3em) calc(.5vw + 1.5em);
    color: $blue-dark;
    font-family: $dm-serif-display;
    font-size: calc(.5vw + 1.9rem);
    font-weight: 500;
  }
}

.v-container {
  padding: calc(.5vw + 4em) calc(.5vw + 10em);
  background-image: linear-gradient($background-dark 33%, $background);

  .video-wrapper {
    position: relative;
    padding-block-end: calc(var(--aspect-ratio, .5625) * 100%);
    height: 0;

    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.text-section {
  margin: 0 auto;
  padding: calc(.5vw + 5em) calc(.5vw + 8em);
  background-color: $blue-navy;
  color: $foreground-light;

  p {
    margin-block-end: 1.5em;
    font-size: calc(.5vw + 1.3rem);
  }

  a {
    color: lighten($blue-faded, 20%);
    font-weight: 600;
  }
}

#testimonials {
  padding: calc(.5vw + 5em) calc(.5vw + 8em);

  h2 {
    margin-block-end: 2.75em;
    color: $blue-dark;
    text-align: center;
  }
  .quotes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  figure {
    margin-block-end: 5rem;
    background-color: $white;
    color: $blue-navy;
    position: relative;
    width: 32%;

    &::before {
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      background-color: $white;
      transform: skewY(15deg);
      z-index: -1;
    }

    blockquote {
      position: relative;
      margin-bottom: 0;
      padding: 5rem 2rem 1.5rem;
      font-size: 1.125rem;
      line-height: 1.5;

      &::before {
        position: absolute;
        left: 10%;
        top: .25em;
        content: "\201C";
        color: $primary;
        font-size: 4.5em;
        line-height: .5;
        opacity: .3;
      }
    }
    figcaption {
      padding-block-end: 2rem;
      padding-inline-end: 2rem;
      color: $primary;
      text-align: right;

      &::before,
      &::after {
        content: '\2014';
      }
    }
  }
}


.inline-quote {
    width: 100%;
    text-align: center;
    font-size: calc(.5vw + 1rem);
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  margin-block: 1em;

  > .post {
    border: 3px dashed lighten($foreground, 80%);
  }

  .post {
    .post-details {
      padding: .3em 2em 1.5em;

      h2 {
        margin: .5em 0 .3em;
      }

      p {
        font-size: 1.3em;
      }
    }

    h2 > a {
      font-size: calc(1.4rem + 1vw);
    }

    > img {
      width: 100%;
      height: 12em;
      object-fit: cover;
      object-position: center;
    }
  }
}


.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  margin-block: 1em;

  > .post {
    border: 3px dashed lighten($foreground, 80%);
  }

  .post {
    .post-details {
      padding: .3em 2em 1.5em;

      h2 {
        margin: .5em 0 .3em;
      }

      p {
        font-size: 1.3em;
      }
    }

    h2 > a {
      font-size: calc(1.4rem + 1vw);
    }

  }
}


// Global footer

footer {

}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

// Nic added styles
.a11y-hidden {
	border: 0 none;
  clip: rect(0px,0px,0px,0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}



// User toolbar
#toolbar {
  display: flex;
  justify-content: space-between;
  background-color: $secondary;
  color: $foreground-light;
}

// Skip link

.skip-link {
  display: inline-block;
  color: $foreground-light;
  padding: .8rem 1rem;
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: $tertiary;
    outline: 2px solid currentColor;
    transition: all .3s ease-in-out;
  }
}

// Theme toggle
