---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

:root {
  color-scheme: light dark;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $background;
  color: $foreground;
  font-family: $dm-sans;
  font-weight: 300;
  line-height: 1.6;

  // respect user contrast preferences
  @media (prefers-contrast: less) {
    filter: contrast(.8);
  }
}

h1 {
  // calc() wrapped around clamp() is a hack for Sass error
  font-size: calc(clamp(3rem, 4vw + 3rem, 10rem));
}

h2 {
  font-size: calc(1vw + 1.75rem);
}

h3 {
  font-size: calc(1vw + 1.5rem);
}

h4 {
  font-size: calc(1vw + 1.125rem);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $secondary;
}

p {
  margin: 1rem 0 1.5rem;
}

p, li, dt, dd {
  font-size: calc(.5vw + 1.1rem);
  line-height: 1.4;
}

.container {
  margin: 0 auto;
  padding: 6vh;
  max-width: 80rem;
  width: 100%;
}



// outer container for header

.wrapper-masthead {
  background-color: light-dark($primary);
}

/* inner container with header/nav */

.site-info {
  a {
    display: flex;
    align-items: center;
    color: $white;
    text-decoration: none;

    span {
      display: inline-block;
      padding-inline-start: 1.2rem;
      font-family: $oswald;
      font-size: calc(clamp(2rem, 2vw + 1.8rem, 3.1rem));
      line-height: 1;
    }
  }
}


#summary{
    display: flex;
    justify-content: center;
}
.summary {
    border: 3px dashed lighten($black, 80%);
    max-width: 70%;
    padding: 1em;
    font-size: calc(.5vw + 0.9rem);
}


// First section on Home

#intro {
  background-color: $black;
  color: $white;
  display: grid;
  grid-template-areas: "hero";

  // thanks, Stephanie Eckles!
  // moderncss.dev/3-popular-website-heroes-created-with-css-grid-layout/
  > * {
    grid-area: hero;
  }

  > .container {
    width: 100vw;
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(auto-fit, Minmax(30ch, auto));
    justify-content: center;
    align-items: center;
  }

  h1 {
    padding-block: .6em;
    font-family: $dm-serif-display;
    font-size: calc(0.5vw + 3.5rem);
    line-height: 1.2;
  }

  span {
    color: light-dark($blue-logo, $silver);
    font-weight: 800;
    letter-spacing: .05em;
  }

  p {
    font-size: calc(0.5vw + 1rem);
  }

  img {
    justify-self: end;
  }
}

.callout {
  display: flex;
  justify-content: center;

  p {
    max-width: 45ch;
    padding: 6vh;
    color: light-dark($blue-dark, $silver);
    font-family: $dm-serif-display;
    font-size: calc(.5vw + 1.9rem);
    font-weight: 500;
  }
}

.bg-gradient {
  background-image: light-dark(linear-gradient($black 33%, $silver), transparent);
}

.section-video {
  padding-block-start: 6vh;

  .able-wrapper {
    margin-inline: 10vw;
  
    .able-status-bar {
      padding-block-start: 0;
      padding-block-end: 0;
    }
  }

  .wrapper-video {
    display: flex;
    justify-content: center;
    position: relative;
    padding-block-end: 56.25%; /* 16:9 */
    height: 0;

    .video {
      position: absolute;
      width: 80%;
      height: 80%;
    }
  }
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: light-dark($contrast1);
  color: light-dark($contrast2);
  padding-block: 4vh;

  p {
    margin-block-end: 1.4em;
    font-size: calc(.5vw + 1.3rem);
  }

  a {
    color: lighten($blue-faded, 20%);
    font-weight: 600;
  }
}

#testimonials {
  padding: 6vh;

  h2 {
    margin-block-end: 2.75em;
    color: light-dark($contrast3);
    text-align: center;
  }
  .quotes {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
  }

  figure {
    margin-block-end: 3rem;
    background-color: light-dark($background);
    color: light-dark($contrast3);
    position: relative;

    &::before {
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      background-color: light-dark($background);
      transform: skewY(15deg);
      z-index: -1;
    }

    blockquote {
      position: relative;
      margin-bottom: 0;
      padding: 5rem 2rem 1.5rem;
      font-size: 1.125rem;
      line-height: 1.5;

      &::before {
        position: absolute;
        left: 10%;
        top: .25em;
        content: "\201C";
        color: light-dark($contrast3);
        font-size: 4.5em;
        line-height: .5;
        opacity: .3;
      }
    }
    figcaption {
      padding-block-end: 2rem;
      padding-inline-end: 2rem;
      color: light-dark($contrast3);
      text-align: right;

      &::before,
      &::after {
        content: '\2014';
      }
    }
  }
}


.inline-quote {
    width: 100%;
    text-align: center;
    font-size: calc(.5vw + 1rem);
}


// Pages

.page {
  width: 100vw;
}

#heading-about {
  display: flex;
  background-color: light-dark($contrast1);
  color: light-dark($contrast2);
  
  h1 {
    padding-block: 12vh;
    line-height: 1.25;
    text-align: center;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  margin-block: 1em;

  > .post {
    border: 3px dashed lighten($black, 80%);
  }

  .post {
    .post-details {
      padding: .3em 2em 1.5em;

      h2 {
        margin: .5em 0 .3em;
      }

      p {
        font-size: 1.3em;
      }
    }

    h2 > a {
      font-size: calc(1.4rem + 1vw);
    }

    > img {
      width: 100%;
      height: 12em;
      object-fit: cover;
      object-position: center;
    }
  }
}


.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  margin-block: 1em;

  > .post {
    border: 3px dashed lighten($black, 80%);
  }

  .post {
    .post-details {
      padding: .3em 2em 1.5em;

      h2 {
        margin: .5em 0 .3em;
      }

      p {
        font-size: 1.3em;
      }
    }

    h2 > a {
      font-size: calc(1.4rem + 1vw);
    }

  }
}


// Global footer

.wrapper-footer {
  background-color: light-dark($tertiary);
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, Minmax(30ch, auto));
  color: $silver;

  ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-block: 4vh;
    list-style-type: none;
    padding-left: 0;
  }

  a {
    color: $silver;
  }

  .svg-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 5px solid $silver;
    border-radius: 50%;

    &:focus,
    &:hover {
      outline: 5px solid $blue-dark;
      border-color: $blue-dark;
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "mobile-nav";

// Nic added styles
.a11y-hidden {
	border: 0 none;
  clip: rect(0px,0px,0px,0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}



// User toolbar
#toolbar {
  display: flex;
  justify-content: space-between;
  background-color: light-dark($secondary);
  color: light-dark($foreground);

  fieldset {
    display: flex;
    align-items: center;
    gap: .5em;
    padding-inline: 1em;
    color: light-dark($contrast2);

    legend {
      float: left;
      padding-inline-end: 1em;
    }

    label:hover,
    [type=radio]:focus {
      outline: 2px solid currentColor;
    }

    label + [type=radio][checked] {
      background-color: $tertiary;
    }
  }
}

// Skip link

.skip-link {
  display: inline-block;
  color: $white;
  padding: .8rem 1rem;
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: light-dark($tertiary);
    outline: 2px solid currentColor;
    transition: all .3s ease-in-out;
  }
}

// Theme toggle


// Nic toying with CSS

.video-container {
    width: 1080 px;
    margin: auto 0;
}
