---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/


body {
	background-color: $background;
  font-family: $proxima;
  color: $foreground;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 .8rem;
  width: 100%;
}


.masthead {
    display: flex;
    justify-content: space-between;
    .site-info {flex-basis: auto;}
    nav {flex-basis: auto;}
    ul {
        list-style: none;
        list-style-type: none;
        li {
      display: inline-block;
      padding: 0 5px;      
      }
    }
}



.site-info {
  a{ 
  display: flex;
   align-items:center;
    text-decoration:none;
    span {
      text-transform:uppercase;
      display: inline-block;
      
      font-size: calc(.5vw + 1rem);
      padding-left:1em;
    }

  }
}


#intro {
  margin: 0 auto;
  display:flex;
  h1 {
    font-size: calc(0.5vw + 3.5rem);
  }
    p{
    font-size: calc(0.5vw + 1rem);
    }
}

.callout {
    font-size: calc(.5vw + 1rem);
}

.inline-quote {
    width:100%;
    text-align: center;
        font-size: calc(.5vw + 1rem);
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  margin-block: 1em;

  > .post {
    border: 3px dashed lighten($foreground, 80%);
  }

  .post {
    .post-details {
      padding: .3em 2em 1.5em;

      h2 {
        margin: .5em 0 .3em;
      }

      p {
        font-size: 1.3em;
      }
    }

    h2 > a {
      font-size: calc(1.4rem + 1vw);
    }

    > img {
      width: 100%;
      height: 12em;
      object-fit: cover;
      object-position: center;
    }
  }
}


h1 {
  font-size: calc(.5vw + 5rem);
}

h2 {
  font-size: calc(1vw + 1.75rem);
}

h3 {
  font-size: calc(1vw + 1.5rem);
}

h4 {
  font-size: calc(1vw + 1.125rem);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $gray;
}

p {
  margin: 1rem 0 1.5rem;
}

p, li, dt, dd {
  font-size: calc(.5vw + 1.1rem);
  line-height: 1.4;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  margin-block: 1em;

  > .post {
    border: 3px dashed lighten($foreground, 80%);
  }

  .post {
    .post-details {
      padding: .3em 2em 1.5em;

      h2 {
        margin: .5em 0 .3em;
      }

      p {
        font-size: 1.3em;
      }
    }

    h2 > a {
      font-size: calc(1.4rem + 1vw);
    }

  }
}
// Nicolas Gallaghers micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}





// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

// Nic added styles
.a11y-hidden {
	border: 0 none;
  clip: rect(0px,0px,0px,0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}



// Skip link

.skip-link:not(:focus):not(:hover) {
    -webkit-transform: translateY(-4em);
    -ms-transform: translateY(-4em);
    transform: translateY(-4em);
    opacity: 0;
}

.skip-link:hover, .skip-link:focus,
.skip-link:hover, .skip-link:focus {
  background-color: $red;
  color: $white;
  border-radius: 8px;
  text-decoration: none;
	padding: .75rem;
  transition: all .3s ease-in-out;
}






