<div class="wrapper-video">
  <video id="speaker-reel-video" class="video" data-able-player data-skin="2020" preload="auto" data-youtube-id="v=0rloML--GSg" data-youtube-nocookie playsinline></video>
</div>
<p><a href="https://youtu.be/eagddNn-6ZY">Audio-described version of the video</a>.</p>
<details>
    <summary><h3>Video Transcript</h3></summary>
    <p>Nicolas Steenhout. Speaker/Trainer/Accessibility Expert.</p>
    <p><strong>Nicolas Steenhout</strong><br>
Good evening. Let me tell you a story. I help companies large and small build things that are accessible and functional for disabled people. A recent study showed that out of the 1 million top home pages on the web, each page had an average of 57 accessibility defects. Fifty-seven!</p>

<p><strong>Noah Senecal-Junkeer</strong><br>
He's got the perfect mix of professional experience, technical, and lived experience, and I think he's got a great sense of humor, and he's got an unfair advantage because he's got the service dog so. I really enjoyed listening to him speak.</p>

<p><strong>Nicolas Steenhout</strong><br>
What's accessibility? It's the inclusive practice of building websites that are usable by everyone regardless of level of ability or disability. Digital accessibility work is not really about removing steps or making doors wider, but the concept's sort of same. If you have a website that doesn't have image description, someone who's blind and using a screen reader, they won't be able to access the website.</p>

<p><strong>Carie Fisher</strong><br>
Nic's presentation style is dynamic and relatable, making complex topics accessible and interesting. His enthusiasm and passion for creating inclusive digital environments is infectious, leaving a lasting impression on everyone present.</p>

<p><strong>Nicolas Steenhout</strong><br>
What it comes down to is education and awareness building. It's not just the responsibility of the developer, it's the responsibility of people with disabilities and every single other stakeholder in the process.</p>

<p><strong>Joe Dolson</strong><br>
If you're looking for an uncompromisingly honest view on the issues imposed on people with disabilities and the paths available to address them, Nic is an ideal speaker for you.</p>

<p><strong>Nicolas Steenhout</strong><br>
I mentioned transcript and captions and it makes sense. You know, if you can't hear and you have an audio bit and you don't have captions or transcripts, you'll have problem, but it's more than that. Imagine this: there's a wildfire creeping up on your city. You don't know if you have to evacuate or not. All the announcements are either only on the radio or on television with no caption. How scary is that? You don't know if you actually have to leave or not. This is where accessibility is not just important, it's actually life or death. I want you and you and you and you to be the first accessibility champion in your organization. Evangelize for accessibility as if your life depends on it because one day it might.</p>

<p>Book Nicolas today. nicolas-steenhout.com</p>

    <h4>Booking info</h4>
    <p>Nicolas Steenhout<br>
        <a href="mailto:nic@nicolas-steenhout.com">nic@nicolas-steenhout.com</a><br>
        <a href="nicolas-steenhout.com">nicolas-steenhout.com</a></p>

</details>
