<!--<video id="speaker-reel-video" class="video" data-able-player data-skin="2020" preload="auto" data-youtube-id="YKokAMJnOdM" data-youtube-nocookie playsinline>
</video>

<div class="wrapper-video">
  <iframe class="video" src="https://www.youtube.com/embed/YKokAMJnOdM?si=9V64ekoBoOuNZwAt" title="Accessibility Audit Training with Nic Steenhout" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
-->
<div class="video-container">
<video id="video1" data-able-player preload="auto" width="1080 px" poster="/img/speaker-reel-still-v1.png">
  
  <source type="video/mp4" src="path_to_video.mp4" data-desc-src="https://a11yrules.ams3.cdn.digitaloceanspaces.com/videos/Nic_Steenhout_Reel_working_draft_1.mp4"/>
  
</video>
    </div>