<ul>
{% if site.footer-links.dribbble %}<li><a href="https://dribbble.com/{{ site.footer-links.dribbble }}" class="svg-icon dribbble"></a></li>{% endif %}
{% if site.footer-links.email %}<li><a href="mailto:{{ site.footer-links.email }}" class="svg-icon email"><span class="a11y-hidden">Email</span></a></li>{% endif %}
{% if site.footer-links.facebook %}<li><a href="https://www.facebook.com/{{ site.footer-links.facebook }}" class="svg-icon facebook"></a></li>{% endif %}
{% if site.footer-links.flickr %}<li><a href="https://www.flickr.com/{{ site.footer-links.flickr }}" class="svg-icon flickr"></a></li>{% endif %}
{% if site.footer-links.github %}<li><a href="https://github.com/{{ site.footer-links.github }}" class="svg-icon github"><span class="a11y-hidden">GitHub</span></a></li>{% endif %}
{% if site.footer-links.instagram %}<li><a href="https://instagram.com/{{ site.footer-links.instagram }}" class="svg-icon instagram"></a></li>{% endif %}
{% if site.footer-links.linkedin %}<li><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" class="svg-icon linkedin"><span class="a11y-hidden">LinkedIn</span></a></li>{% endif %}
{% if site.footer-links.pinterest %}<li><a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" class="svg-icon pinterest"></a></li>{% endif %}
{% if site.footer-links.rss %}<li><a href="{{ site.baseurl }}/feed.xml" class="svg-icon rss"><span class="a11y-hidden">RSS</span></a></li>{% endif %}
{% if site.footer-links.twitter %}<li><a href="https://www.twitter.com/{{ site.footer-links.twitter }}" class="svg-icon twitter"><span class="a11y-hidden">Twitter</span></a></li>{% endif %}
{% if site.footer-links.stackoverflow %}<li><a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" class="svg-icon stackoverflow"></a></li>{% endif %}
{% if site.footer-links.youtube %}<li><a href="https://youtube.com/{{ site.footer-links.youtube }}" class="svg-icon youtube"><span class="a11y-hidden">YouTube</span></a></li>{% endif %}
{% if site.footer-links.googleplus %}<li><a href="https://plus.google.com/{{ site.footer-links.googleplus }}" class="svg-icon googleplus"></a></li>{% endif %}
</ul>
