
//
// VARIABLES
//

// Colors
$blue: #3731FF;
$red: #C70038;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$proxima: proxima-nova, Helvetica, Arial, sans-serif;
$sofia: sofia-pro, Helvetica, Arial, sans-serif;
$racingsans: "Racing Sans One", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}