
//
// VARIABLES
//

//
// Colors
//

$blue-faded: #2E688C;
$blue-logo: #0070B5;
$blue-bright: #324FA6;
$blue-dark: #193773;
$blue-navy: #1B2B36;
$blue-black: #222C33;
$red-bright: #A60505;
$red-dark: #8C1B2F;
$black: #2B3033;
$silver: #D9DFE6;
$white: #f9f9f9;

// light, dark theme
$primary: $blue-logo, darken($blue-logo, 10%);
$secondary: $blue-bright, darken($blue-bright, 10%);
$tertiary: $red-dark, darken($red-dark, 10%);
$contrast1: $blue-navy, lighten($blue-navy, 10%);
$contrast2: $white, $silver;
$contrast3: $blue-dark, $silver;

$background: $silver, lighten($black, 10%);
$foreground: $black, $silver;


//
// Font stacks
//

$kanit: "Kanit", sans-serif;
$dm-sans: "DM Sans", sans-serif;
$dm-serif-display: "DM Serif Display", serif;
$oswald: "Oswald", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}