
//
// VARIABLES
//

$primary: #004B95; // dark blue
$secondary: #0A6AE8; // blue
$tertiary: #E4B122;
$background: #F5F4F0;
$foreground: #000;

// Colors
$blue: $secondary;
$blueLight: #A6C8F0;
$blueDark: #1D182F;
$red: #C70038;
$redLight: #FF615E;
$yellowLight: #FFEC8F;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$proxima: proxima-nova, Helvetica, Arial, sans-serif;
$sofia: sofia-pro, Helvetica, Arial, sans-serif;
$heading-mast: "Whisper", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}