<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Whisper&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/zbd2ksc.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
      <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/img/favicon.ico">

<!--Plausible analytics tracking snippet -->
      <script defer data-domain="nicolas-steenhout.com" src="https://plausible.io/js/script.js"></script>
  </head>

  <body>
	  <div id="skip">
		  <a href="#main" class="skip-link">Skip to main content</a>
	  </div>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
              <a href="{{ site.baseurl }}">
              <img src="{{ site.baseurl }}/img/nicolas-steenhout-logo.jpg" width="100 px" alt="">
              Nicolas <br>Steenhout</a>
              
          </div>

          <nav>
            <ul>
            <li><a href="{{ site.baseurl }}/meet-nic">Meet Nic</a></li>
            <li><a href="{{ site.baseurl }}/speaking">Speaking</a></li>
	      <li><a href="{{ site.baseurl }}/training">Training</a></li>
                <li><a href="{{ site.baseurl }}/other-stuff">Other stuff</a></li>
            </ul>
          </nav>
        </header>
      </div>
    </div>

    <main class="container" id="main">
      {{ content }}
        
    </main>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
         
            
            <p><a href="/accessibility/">Accessibility statement</a> | <a href="/sitemap/">Sitemap</a></p>
            <p>&#169;2024 Nicolas Steenhout. All Rights Reserved.</p>
        </footer>
      </div>
    </div>


  </body>
</html>
