<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Whisper&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/zbd2ksc.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

<!--Plausible analytics tracking snippet -->
      <script defer data-domain="quilting.nicolas-steenhout.com" src="https://plausible.io/js/script.js"></script>
  </head>

  <body>
	  <div id="skip">
		  <a href="#main" class="skip-link">Skip to main content</a>
	  </div>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <img src="{{ site.avatar }}" alt="Nicolas Steenhout. Head shot in black and white with a black background. Nic has short hair and no beard. He's wearing glasses." class="site-avatar" />
            
              {% if page.layout == 'default' %}
  <h1 class="site-name">
              <a href="{{ site.baseurl }}/">{{ site.name }}</a>
            </h1>
{% else %}
 <p class="site-name">
              <a href="{{ site.baseurl }}/">{{ site.name }}</a>
            </p>
{% endif %}
          </div>

          <nav>
            <ul>
              <!--<li><a href="{{ site.baseurl }}/">Blog</a></li>-->
              <li><a href="{{ site.baseurl }}/about">About</a></li>
	      <li><a href="{{ site.baseurl }}/tag/Tips/">Tips and Tricks</a></li>
                <li><a href="{{ site.baseurl }}/tags">Tags</a></li>
                <li><a href="{{ site.baseurl }}/tag/Finished">Finished quilts</a></li>
                <li><a href="{{ site.baseurl }}/subscribe">Subscribe</a></li>
            </ul>
          </nav>
        </header>
      </div>
    </div>

    <main class="container" id="main">
      {{ content }}
        <p>&#169;2024 Nicolas Steenhout. All Rights Reserved, including photos.</p>
    </main>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
            
		  <p><a href="/accessibility/">Accessibility statement</a></p>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
