---
layout: default
---

<article class="post">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div class="date">
      <p>
        {% if page.last_modified_at %}
        Last updated: {{ page.last_modified_at | date: "%B %e, %Y" }}
        {% else %}
        Published on {{ page.date | date: "%B %e, %Y" }}
        {% endif %}
      </p>
    </div>
    </div>

  <div class="entry container">
    <div id="summary">
      <div class="summary">
        <h2>tl;dr</h2>
        <p>{{ page.summary }}</p>
      </div>
    </div>
    {{ content }}
  </div>
</article>