---
layout: default
---

<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    <!--><p>Written on {{ page.date | date: "%B %e, %Y" }}
		<br>	
		Updated on {{ page.update | date: "%B %e, %Y" }}</p>-->
		
		{%- if page.last_modified_at -%}
		    Last updated: {%- page.last_modified_at | date: date_format -%}
		{%- else -%}
		    Written on: {%- page.date | date: date_format -%}
		{%- endif -%}
  </div>

  {% include disqus.html %}
</article>
